DesafioBreton/.angular
DesafioBreton/node_modules/
DesafioBreton/.vscode/
BretonBackend/bin/Debug/net8.0/appsettings.Development.json
BretonBackend/bin/Debug/net8.0/appsettings.json
BretonBackend/bin/Debug/net8.0/BretonBackend
BretonBackend/bin/Debug/net8.0/BretonBackend.deps.json
BretonBackend/bin/Debug/net8.0/BretonBackend.dll
BretonBackend/bin/Debug/net8.0/BretonBackend.pdb
BretonBackend/bin/Debug/net8.0/BretonBackend.runtimeconfig.json
BretonBackend/bin/Debug/net8.0/Microsoft.AspNetCore.OpenApi.dll
BretonBackend/bin/Debug/net8.0/Microsoft.OpenApi.dll
BretonBackend/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
BretonBackend/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
BretonBackend/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
BretonBackend/data/#ib_16384_0.dblwr
BretonBackend/data/#ib_16384_1.dblwr
BretonBackend/data/auto.cnf
BretonBackend/data/binlog.000001
BretonBackend/data/binlog.000002
BretonBackend/data/binlog.000003
BretonBackend/data/binlog.index
BretonBackend/data/ca-key.pem
BretonBackend/data/ca.pem
BretonBackend/data/client-cert.pem
BretonBackend/data/client-key.pem
BretonBackend/data/ib_buffer_pool
BretonBackend/data/ibdata1
BretonBackend/data/ibtmp1
BretonBackend/data/mysql_upgrade_history
BretonBackend/data/mysql.ibd
BretonBackend/data/mysql.sock
BretonBackend/data/private_key.pem
BretonBackend/data/public_key.pem
BretonBackend/data/server-cert.pem
BretonBackend/data/server-key.pem
BretonBackend/data/undo_001
BretonBackend/data/undo_002
BretonBackend/data/#innodb_redo/#ib_redo9
BretonBackend/data/#innodb_redo/#ib_redo10_tmp
BretonBackend/data/#innodb_redo/#ib_redo11_tmp
BretonBackend/data/#innodb_redo/#ib_redo12_tmp
BretonBackend/data/#innodb_redo/#ib_redo13_tmp
BretonBackend/data/#innodb_redo/#ib_redo14_tmp
BretonBackend/data/#innodb_redo/#ib_redo15_tmp
BretonBackend/data/#innodb_redo/#ib_redo16_tmp
BretonBackend/data/#innodb_redo/#ib_redo17_tmp
BretonBackend/data/#innodb_redo/#ib_redo18_tmp
BretonBackend/data/#innodb_redo/#ib_redo19_tmp
BretonBackend/data/#innodb_redo/#ib_redo20_tmp
BretonBackend/data/#innodb_redo/#ib_redo21_tmp
BretonBackend/data/#innodb_redo/#ib_redo22_tmp
BretonBackend/data/#innodb_redo/#ib_redo23_tmp
BretonBackend/data/#innodb_redo/#ib_redo24_tmp
BretonBackend/data/#innodb_redo/#ib_redo25_tmp
BretonBackend/data/#innodb_redo/#ib_redo26_tmp
BretonBackend/data/#innodb_redo/#ib_redo27_tmp
BretonBackend/data/#innodb_redo/#ib_redo28_tmp
BretonBackend/data/#innodb_redo/#ib_redo29_tmp
BretonBackend/data/#innodb_redo/#ib_redo30_tmp
BretonBackend/data/#innodb_redo/#ib_redo31_tmp
BretonBackend/data/#innodb_redo/#ib_redo32_tmp
BretonBackend/data/#innodb_redo/#ib_redo33_tmp
BretonBackend/data/#innodb_redo/#ib_redo34_tmp
BretonBackend/data/#innodb_redo/#ib_redo35_tmp
BretonBackend/data/#innodb_redo/#ib_redo36_tmp
BretonBackend/data/#innodb_redo/#ib_redo37_tmp
BretonBackend/data/#innodb_redo/#ib_redo38_tmp
BretonBackend/data/#innodb_redo/#ib_redo39_tmp
BretonBackend/data/#innodb_redo/#ib_redo40_tmp
BretonBackend/data/#innodb_temp/temp_1.ibt
BretonBackend/data/#innodb_temp/temp_2.ibt
BretonBackend/data/#innodb_temp/temp_3.ibt
BretonBackend/data/#innodb_temp/temp_4.ibt
BretonBackend/data/#innodb_temp/temp_5.ibt
BretonBackend/data/#innodb_temp/temp_6.ibt
BretonBackend/data/#innodb_temp/temp_7.ibt
BretonBackend/data/#innodb_temp/temp_8.ibt
BretonBackend/data/#innodb_temp/temp_9.ibt
BretonBackend/data/#innodb_temp/temp_10.ibt
BretonBackend/data/mysql/general_log_216.sdi
BretonBackend/data/mysql/general_log.CSM
BretonBackend/data/mysql/general_log.CSV
BretonBackend/data/mysql/slow_log_217.sdi
BretonBackend/data/mysql/slow_log.CSM
BretonBackend/data/mysql/slow_log.CSV
BretonBackend/data/performance_schema/accounts_146.sdi
BretonBackend/data/performance_schema/binary_log_trans_192.sdi
BretonBackend/data/performance_schema/cond_instances_81.sdi
BretonBackend/data/performance_schema/data_lock_waits_162.sdi
BretonBackend/data/performance_schema/data_locks_161.sdi
BretonBackend/data/performance_schema/error_log_82.sdi
BretonBackend/data/performance_schema/events_errors_su_140.sdi
BretonBackend/data/performance_schema/events_errors_su_141.sdi
BretonBackend/data/performance_schema/events_errors_su_142.sdi
BretonBackend/data/performance_schema/events_errors_su_143.sdi
BretonBackend/data/performance_schema/events_errors_su_144.sdi
BretonBackend/data/performance_schema/events_stages_cu_112.sdi
BretonBackend/data/performance_schema/events_stages_hi_113.sdi
BretonBackend/data/performance_schema/events_stages_hi_114.sdi
BretonBackend/data/performance_schema/events_stages_su_115.sdi
BretonBackend/data/performance_schema/events_stages_su_116.sdi
BretonBackend/data/performance_schema/events_stages_su_117.sdi
BretonBackend/data/performance_schema/events_stages_su_118.sdi
BretonBackend/data/performance_schema/events_stages_su_119.sdi
BretonBackend/data/performance_schema/events_statement_120.sdi
BretonBackend/data/performance_schema/events_statement_121.sdi
BretonBackend/data/performance_schema/events_statement_122.sdi
BretonBackend/data/performance_schema/events_statement_123.sdi
BretonBackend/data/performance_schema/events_statement_124.sdi
BretonBackend/data/performance_schema/events_statement_125.sdi
BretonBackend/data/performance_schema/events_statement_126.sdi
BretonBackend/data/performance_schema/events_statement_127.sdi
BretonBackend/data/performance_schema/events_statement_128.sdi
BretonBackend/data/performance_schema/events_statement_129.sdi
BretonBackend/data/performance_schema/events_statement_130.sdi
BretonBackend/data/performance_schema/events_statement_131.sdi
BretonBackend/data/performance_schema/events_transacti_132.sdi
BretonBackend/data/performance_schema/events_transacti_133.sdi
BretonBackend/data/performance_schema/events_transacti_134.sdi
BretonBackend/data/performance_schema/events_transacti_135.sdi
BretonBackend/data/performance_schema/events_transacti_136.sdi
BretonBackend/data/performance_schema/events_transacti_137.sdi
BretonBackend/data/performance_schema/events_transacti_138.sdi
BretonBackend/data/performance_schema/events_transacti_139.sdi
BretonBackend/data/performance_schema/events_waits_cur_83.sdi
BretonBackend/data/performance_schema/events_waits_his_84.sdi
BretonBackend/data/performance_schema/events_waits_his_85.sdi
BretonBackend/data/performance_schema/events_waits_sum_86.sdi
BretonBackend/data/performance_schema/events_waits_sum_87.sdi
BretonBackend/data/performance_schema/events_waits_sum_88.sdi
BretonBackend/data/performance_schema/events_waits_sum_89.sdi
BretonBackend/data/performance_schema/events_waits_sum_90.sdi
BretonBackend/data/performance_schema/events_waits_sum_91.sdi
BretonBackend/data/performance_schema/file_instances_92.sdi
BretonBackend/data/performance_schema/file_summary_by__93.sdi
BretonBackend/data/performance_schema/file_summary_by__94.sdi
BretonBackend/data/performance_schema/global_status_182.sdi
BretonBackend/data/performance_schema/global_variable__189.sdi
BretonBackend/data/performance_schema/global_variables_185.sdi
BretonBackend/data/performance_schema/host_cache_95.sdi
BretonBackend/data/performance_schema/hosts_147.sdi
BretonBackend/data/performance_schema/keyring_componen_194.sdi
BretonBackend/data/performance_schema/keyring_keys_153.sdi
BretonBackend/data/performance_schema/log_status_175.sdi
BretonBackend/data/performance_schema/memory_summary_b_155.sdi
BretonBackend/data/performance_schema/memory_summary_b_156.sdi
BretonBackend/data/performance_schema/memory_summary_b_157.sdi
BretonBackend/data/performance_schema/memory_summary_b_158.sdi
BretonBackend/data/performance_schema/memory_summary_g_154.sdi
BretonBackend/data/performance_schema/metadata_locks_160.sdi
BretonBackend/data/performance_schema/mutex_instances_96.sdi
BretonBackend/data/performance_schema/objects_summary__97.sdi
BretonBackend/data/performance_schema/performance_time_98.sdi
BretonBackend/data/performance_schema/persisted_variab_190.sdi
BretonBackend/data/performance_schema/prepared_stateme_176.sdi
BretonBackend/data/performance_schema/processlist_99.sdi
BretonBackend/data/performance_schema/replication_appl_166.sdi
BretonBackend/data/performance_schema/replication_appl_167.sdi
BretonBackend/data/performance_schema/replication_appl_168.sdi
BretonBackend/data/performance_schema/replication_appl_169.sdi
BretonBackend/data/performance_schema/replication_appl_171.sdi
BretonBackend/data/performance_schema/replication_appl_172.sdi
BretonBackend/data/performance_schema/replication_asyn_173.sdi
BretonBackend/data/performance_schema/replication_asyn_174.sdi
BretonBackend/data/performance_schema/replication_conn_163.sdi
BretonBackend/data/performance_schema/replication_conn_165.sdi
BretonBackend/data/performance_schema/replication_grou_164.sdi
BretonBackend/data/performance_schema/replication_grou_170.sdi
BretonBackend/data/performance_schema/rwlock_instances_100.sdi
BretonBackend/data/performance_schema/session_account__152.sdi
BretonBackend/data/performance_schema/session_connect__151.sdi
BretonBackend/data/performance_schema/session_status_183.sdi
BretonBackend/data/performance_schema/session_variable_186.sdi
BretonBackend/data/performance_schema/setup_actors_101.sdi
BretonBackend/data/performance_schema/setup_consumers_102.sdi
BretonBackend/data/performance_schema/setup_instrument_103.sdi
BretonBackend/data/performance_schema/setup_meters_104.sdi
BretonBackend/data/performance_schema/setup_metrics_105.sdi
BretonBackend/data/performance_schema/setup_objects_106.sdi
BretonBackend/data/performance_schema/setup_threads_107.sdi
BretonBackend/data/performance_schema/socket_instances_148.sdi
BretonBackend/data/performance_schema/socket_summary_b_149.sdi
BretonBackend/data/performance_schema/socket_summary_b_150.sdi
BretonBackend/data/performance_schema/status_by_accoun_178.sdi
BretonBackend/data/performance_schema/status_by_host_179.sdi
BretonBackend/data/performance_schema/status_by_thread_180.sdi
BretonBackend/data/performance_schema/status_by_user_181.sdi
BretonBackend/data/performance_schema/table_handles_159.sdi
BretonBackend/data/performance_schema/table_io_waits_s_108.sdi
BretonBackend/data/performance_schema/table_io_waits_s_109.sdi
BretonBackend/data/performance_schema/table_lock_waits_110.sdi
BretonBackend/data/performance_schema/threads_111.sdi
BretonBackend/data/performance_schema/tls_channel_stat_193.sdi
BretonBackend/data/performance_schema/user_defined_fun_191.sdi
BretonBackend/data/performance_schema/user_variables_b_177.sdi
BretonBackend/data/performance_schema/users_145.sdi
BretonBackend/data/performance_schema/variables_by_thr_184.sdi
BretonBackend/data/performance_schema/variables_info_187.sdi
BretonBackend/data/performance_schema/variables_metada_188.sdi
BretonBackend/data/sys/sys_config.ibd
BretonBackend/obj/BretonBackend.csproj.nuget.dgspec.json
BretonBackend/obj/BretonBackend.csproj.nuget.g.props
BretonBackend/obj/BretonBackend.csproj.nuget.g.targets
BretonBackend/obj/project.assets.json
BretonBackend/obj/project.nuget.cache
BretonBackend/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
BretonBackend/obj/Debug/net8.0/apphost
BretonBackend/obj/Debug/net8.0/BretonBa.B2762EC2.Up2Date
BretonBackend/obj/Debug/net8.0/BretonBackend.AssemblyInfo.cs
BretonBackend/obj/Debug/net8.0/BretonBackend.AssemblyInfoInputs.cache
BretonBackend/obj/Debug/net8.0/BretonBackend.assets.cache
BretonBackend/obj/Debug/net8.0/BretonBackend.csproj.AssemblyReference.cache
BretonBackend/obj/Debug/net8.0/BretonBackend.csproj.CoreCompileInputs.cache
BretonBackend/obj/Debug/net8.0/BretonBackend.csproj.FileListAbsolute.txt
BretonBackend/obj/Debug/net8.0/BretonBackend.dll
BretonBackend/obj/Debug/net8.0/BretonBackend.GeneratedMSBuildEditorConfig.editorconfig
BretonBackend/obj/Debug/net8.0/BretonBackend.genruntimeconfig.cache
BretonBackend/obj/Debug/net8.0/BretonBackend.GlobalUsings.g.cs
BretonBackend/obj/Debug/net8.0/BretonBackend.MvcApplicationPartsAssemblyInfo.cache
BretonBackend/obj/Debug/net8.0/BretonBackend.MvcApplicationPartsAssemblyInfo.cs
BretonBackend/obj/Debug/net8.0/BretonBackend.pdb
BretonBackend/obj/Debug/net8.0/BretonBackend.sourcelink.json
BretonBackend/obj/Debug/net8.0/staticwebassets.build.json
BretonBackend/obj/Debug/net8.0/ref/BretonBackend.dll
BretonBackend/obj/Debug/net8.0/refint/BretonBackend.dll
BretonBackend/obj/Debug/net8.0/staticwebassets/msbuild.build.BretonBackend.props
BretonBackend/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.BretonBackend.props
BretonBackend/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.BretonBackend.props
BretonBackend/bin/Debug/net8.0/Azure.Core.dll
BretonBackend/bin/Debug/net8.0/Azure.Identity.dll
BretonBackend/bin/Debug/net8.0/Humanizer.dll
BretonBackend/bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
BretonBackend/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.dll
BretonBackend/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
BretonBackend/bin/Debug/net8.0/Microsoft.CodeAnalysis.dll
BretonBackend/bin/Debug/net8.0/Microsoft.CodeAnalysis.Workspaces.dll
BretonBackend/bin/Debug/net8.0/Microsoft.Data.SqlClient.dll
BretonBackend/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
BretonBackend/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Design.dll
BretonBackend/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
BretonBackend/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
BretonBackend/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.SqlServer.dll
BretonBackend/bin/Debug/net8.0/Microsoft.Extensions.DependencyModel.dll
BretonBackend/bin/Debug/net8.0/Microsoft.Identity.Client.dll
BretonBackend/bin/Debug/net8.0/Microsoft.Identity.Client.Extensions.Msal.dll
BretonBackend/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
BretonBackend/bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
BretonBackend/bin/Debug/net8.0/Microsoft.IdentityModel.Logging.dll
BretonBackend/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.dll
BretonBackend/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
BretonBackend/bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
BretonBackend/bin/Debug/net8.0/Microsoft.SqlServer.Server.dll
BretonBackend/bin/Debug/net8.0/Microsoft.Win32.SystemEvents.dll
BretonBackend/bin/Debug/net8.0/Mono.TextTemplating.dll
BretonBackend/bin/Debug/net8.0/MySqlConnector.dll
BretonBackend/bin/Debug/net8.0/Pomelo.EntityFrameworkCore.MySql.dll
BretonBackend/bin/Debug/net8.0/System.CodeDom.dll
BretonBackend/bin/Debug/net8.0/System.Composition.AttributedModel.dll
BretonBackend/bin/Debug/net8.0/System.Composition.Convention.dll
BretonBackend/bin/Debug/net8.0/System.Composition.Hosting.dll
BretonBackend/bin/Debug/net8.0/System.Composition.Runtime.dll
BretonBackend/bin/Debug/net8.0/System.Composition.TypedParts.dll
BretonBackend/bin/Debug/net8.0/System.Configuration.ConfigurationManager.dll
BretonBackend/bin/Debug/net8.0/System.Drawing.Common.dll
BretonBackend/bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
BretonBackend/bin/Debug/net8.0/System.Memory.Data.dll
BretonBackend/bin/Debug/net8.0/System.Runtime.Caching.dll
BretonBackend/bin/Debug/net8.0/System.Security.Cryptography.ProtectedData.dll
BretonBackend/bin/Debug/net8.0/System.Security.Permissions.dll
BretonBackend/bin/Debug/net8.0/System.Windows.Extensions.dll
BretonBackend/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
BretonBackend/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
BretonBackend/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.resources.dll
BretonBackend/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
BretonBackend/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
BretonBackend/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
BretonBackend/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.resources.dll
BretonBackend/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
BretonBackend/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
BretonBackend/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
BretonBackend/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.resources.dll
BretonBackend/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
BretonBackend/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
BretonBackend/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
BretonBackend/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.resources.dll
BretonBackend/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
BretonBackend/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
BretonBackend/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
BretonBackend/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.resources.dll
BretonBackend/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
BretonBackend/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
BretonBackend/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
BretonBackend/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.resources.dll
BretonBackend/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
BretonBackend/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
BretonBackend/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
BretonBackend/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.resources.dll
BretonBackend/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
BretonBackend/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
BretonBackend/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
BretonBackend/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.resources.dll
BretonBackend/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
BretonBackend/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
BretonBackend/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
BretonBackend/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
BretonBackend/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
BretonBackend/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
BretonBackend/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
BretonBackend/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.resources.dll
BretonBackend/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
BretonBackend/bin/Debug/net8.0/runtimes/unix/lib/net6.0/Microsoft.Data.SqlClient.dll
BretonBackend/bin/Debug/net8.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
BretonBackend/bin/Debug/net8.0/runtimes/win/lib/net6.0/Microsoft.Data.SqlClient.dll
BretonBackend/bin/Debug/net8.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
BretonBackend/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
BretonBackend/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Runtime.Caching.dll
BretonBackend/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
BretonBackend/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
BretonBackend/bin/Debug/net8.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
BretonBackend/bin/Debug/net8.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
BretonBackend/bin/Debug/net8.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
BretonBackend/bin/Debug/net8.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
BretonBackend/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
BretonBackend/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
BretonBackend/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.resources.dll
BretonBackend/bin/Debug/net8.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
BretonBackend/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
BretonBackend/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
BretonBackend/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
BretonBackend/bin/Debug/net8.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
BretonBackend/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
BretonBackend/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
BretonBackend/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
BretonBackend/bin/Debug/net8.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
BretonBackend/.env
BretonBackend/Migrations/20240822203148_InitialMigration.cs
BretonBackend/Migrations/20240822203148_InitialMigration.Designer.cs
BretonBackend/Migrations/20240823111543_UpdateClienteIdGeneration.cs
BretonBackend/Migrations/20240823111543_UpdateClienteIdGeneration.Designer.cs
BretonBackend/Migrations/20240823123045_LoginAndUserMigration.cs
BretonBackend/Migrations/20240823123045_LoginAndUserMigration.Designer.cs
BretonBackend/Migrations/20240823123834_AddCors.cs
BretonBackend/Migrations/20240823123834_AddCors.Designer.cs
BretonBackend/Migrations/BretonContextModelSnapshot.cs
