<div class="dashboard-container">
  <aside class="sidebar">
    <ul>
      <li><button class="sidebar-button" (click)="addUser()">Adicionar Usuário</button></li>
      <li><button class="sidebar-button" (click)="logoutFunction()">Logout</button></li>
    </ul>
  </aside>
  <main class="main-content">
    <h2>Clientes</h2>
    <div class="header">
      <input class="search-input" type="text" placeholder="Buscar clientes..." (input)="filterClients($event)">
      <button class="main-button" (click)="addClient()">Adicionar Cliente</button>
    </div>
    <div class="client-list">
      <table>
        <thead>
          <tr>
            <th>Nome</th>
            <th>CPF</th>
            <th>Telefone</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let client of filteredClients">
            <td>{{ client.nome }}</td>
            <td>{{ client.cpf }}</td>
            <td>{{ client.telefone }}</td>
            <td><button class="main-button" (click)="editClient(client.id)">Editar</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
</div>